<div id="bodydet">
    <h1>YOUR TASKS OF THE DAY</h1>

</div>

    <table>
        <tr>
            <th>ID</th>
            <th>DATE</th>
            <th>TASK</th>
            <th>DESCRIPTIONS</th>
        </tr>
    </table>
        
    <li *ngFor="let element of TodoList">
        <p>{{element.id}} <span class="tab"></span>{{element.Date}} <span class="tab2"></span>{{element.Task}} <span class="tab3"></span>{{element.Description}}</p> 
    </li>
    
<!-- 

    <br><br>
    <table mat-table [dataSource]="TodoList" class="mat-elevation-z8" matSort aria-label="Elements">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
        <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef>DATE</th>
            <td mat-cell *matCellDef="let element">{{element.Date}}</td>
        </ng-container>
        <ng-container matColumnDef="Task">
            <th mat-header-cell *matHeaderCellDef>TASK</th>
            <td mat-cell *matCellDef="let element">{{element.Task}}</td>
        </ng-container>
        <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef>DESCRIPTION</th>
            <td mat-cell *matCellDef="let element">{{element.Description}}</td>
        </ng-container>

        <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row"> -->
                <!-- <button mat-icon-button color="warn" (click)= "deleteTask(index)"><mat-icon>delete_outline</mat-icon></button> -->
            <!-- </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    <!-- </table> -->

    <br><br>
    <div class="deletet">

        <h3>Delete Completed Tasks.</h3>
        <button mat-icon-button color="warn" (click)= "deleteTask(index)"><mat-icon>delete_outline</mat-icon></button>
    </div>
    <p style="text-align: center;">END OF TASK</p>


