h1{
    font-size: 2em;
    font-weight: bolder;
}

#bodydet{
    text-align: center;
}
table {
    width: 100%;
}
.deletet{
    margin-left: 40%;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.deletet h3{
    margin-top: 7px;
}
.tab {
    display: inline-block;
    margin-left: 135px;
}

.tab2 {
    display: inline-block;
    margin-left: 160px;
}
.tab3 {
    display: inline-block;
    margin-left: 280px;
}

li{
    margin-left: 45px;
}