
<link rel="stylesheet" href="./to-do-list.component.css">

<!-- <app-to-do-create></app-to-do-create> -->
<div id="section1"></div>


<div id="container">
    <div id="header">
        <h1><b>TodoList App</b></h1>
        <div class="actions"></div>

    </div>
    <div id="content">
        <mat-card> 
            <div id="cardheader">
                <div id="categories">
                    <app-to-do-create></app-to-do-create>
                </div>
                <div id="cardaction">
                   
                </div>
            </div>  
            <app-to-do-detail></app-to-do-detail>
        </mat-card>
    </div>
</div>


<div id="section2"></div>
