
    <div id="newinput">
        <div id="inputdataid">
            <input [(ngModel)]="i" type="text" placeholder="Id">
         </div>
       <div id="inputdata">
           <input [(ngModel)]="d" type="text" placeholder="Date">
        </div>
       <div id="inputdata">
           <input [(ngModel)]="t" type="text" placeholder="Task">
        </div>
       <div id="inputdata">
           <input [(ngModel)]="ds" type="text" placeholder="Description">
        </div>
       <button (click)="addToList()" type="reset">ADD TASK</button>
    </div>